@import 'normalize.css';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "partials/vars";
body {
  font-size: 12px;
  font-weight: lighter;
}

.bold {
  font-weight: bold;
  letter-spacing: 5px;
}

.container {
  padding: 1.5em;
  text-align: center;
  h3 {
    font-size: 1.2em;
    letter-spacing: 5px;
    font-weight: bold;
  }
  .btm-border{
    border-bottom: 3px solid $orange-color;
    width: 3.5em;
    margin: 2em auto;
  }
}