@import 'normalize.css';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "partials/vars";
@import "partials/mixins";
body {
  font-weight: lighter;
  @include tiny-screens() {
    font-size: 30px;
  }
  @include large-screens() {
    font-size: 14px;
  }
}

.bold-only {
  font-weight: bold;
}

.bold {
  @extend .bold-only;
  letter-spacing: 5px;
}

.container {
  padding: 1em;
  text-align: center;
  h3 {
    font-size: 1.2em;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .btm-border {
    border-bottom: 3px solid $orange-color;
    width: 3.5em;
    margin: 2em auto;
  }
}