@mixin center-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin jumbotron-settings($height, $image) {
    background-size: cover;
    background-image: url($image);
    background-position: center;
    background-repeat: no-repeat;
    height: $height;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    @include tiny-screens() {
        background-attachment: initial;
        height: ($height * .75);
    }
}

@mixin course-container-settings {
    margin-bottom: 4em;
    h1 {
        font-size: 5.5em;
        font-weight: 800;
        margin-bottom: 0;
    }
    h5 {
        margin-bottom: 2em;
    }
    p {
        font-weight: 400;
    }
    a {
        color: $orange-color;
        font-weight: 400;
    }
}

@mixin tiny-screens() {
    @media only screen and (min-width: 320px) and (orientation: portrait) {
        @content;
    }
}

@mixin small-screens() {
    @media only screen and (min-width: 480px) {
        @content;
    }
}

@mixin medium-screens() {
    @media only screen and (min-width: 680px) {
        @content;
    }
}

@mixin large-screens() {
    @media only screen and (min-width: 960px) {
        @content;
    }
}

@mixin ie-6 {
    * html {
        @content;
    }
}