@import "partials/mixins";
@import "partials/vars";
.home-jumbo {
    @include jumbotron-settings(90vh, $img-prefix+"v1528371884/artschool/cover-2.jpg");
    main {
        @include center-flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        width: 25vw;
        height: 55vh;
        min-width: 200px;
        background-color: #fff;
        text-align: left;
        padding: 5.5%;
        h1 {
            margin: 0;
            font-weight: 900;
            font-size: 6em;
        }
        button {
            border: none;
            margin: 0 auto 1em;
        }
        button:hover,
        button:focus,
        button:active:hover {
            background-color: #fff;
            border: none;
            box-shadow: none;
        }
    }
}

.home-course-container {
    .home-course-columns {
        @include course-container-settings;
    }
}

.home-image-container {
    width: 100%;
    margin: 0;
    padding: 0;
    .container {
        margin: 0;
        width: 100%;
        .col-md-3 {
            width: 25%;
            padding: 0;
            .img-column {
                display: flex;
                flex-direction: column;
                margin: 0.25em;
                div {
                    background-size: cover;
                    width: 100%;
                    height: 200px;
                    margin: 0.25em;
                }
            }
        }
    }
}

.next-course-container {
    .next-course-columns {
        @include course-container-settings;
    }
}

.home-btm-jumbo {
    @include jumbotron-settings(70vh, $img-prefix+"b_rgb:000000,co_rgb:000000,dn_50,e_art:quartz,o_45,pg_1/e_brightness:-25/v1528402326/artschool/cover-3.jpg");
    margin-bottom: 0;
    .container {
        h1 {
            color: #fff;
            margin: 0;
            font-weight: bold;
        }
        h4 {
            font-size: 2em;
            color: #fff;
            font-weight: 400;
        }
        button {
            background-color: #2F2E2E;
            color: #fff;
            border: none;
            border-radius: 0;
            padding: 0.5em 3.5em;
        }
    }
}