@import "partials/mixins";
@import "partials/vars";
.home-jumbo {
    @include jumbotron-settings(90vh, "https://res.cloudinary.com/andrerichards/image/upload/v1528371884/artschool/cover-2.jpg");
    main {
        @include center-flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        width: 25vw;
        height: 50vh;
        min-width: 200px;
        background-color: #fff;
        text-align: left;
        padding: 5.5%;
        h1 {
            margin: 0;
            font-weight: 900;
            font-size: 6em;
        }
        button {
            border: none;
            margin: 0 auto;
        }
        button:hover,
        button:focus,
        button:active:hover {
            background-color: #fff;
            border: none;
            box-shadow: none;
        }
    }
}

.home-course-container {
    .home-course-columns {
        h1 {
            font-size: 5em;
            font-weight: 800;
            margin-bottom: 0;
        }
        h5 {
            margin-bottom: 2em;
        }
        p{
            font-weight: 400;
        }
        a {
            color: $orange-color;
            font-weight: 400;
        }
    }
}

.home-image-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    .container {
        margin: 0;
        width: 100%;
        .col-md-3 {
            width: 25%;
            padding: 0;
            .img-column {
                display: flex;
                flex-direction: column;
                margin: 0.25em;
                
                div {
                    background-size: cover;
                    width: 100%;
                    height: 200px;
                    margin: 0.25em;
                }
            }
        }
    }
}